APP_NAME=remote-consultation-sfu
APP_ENV=Development
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO

JWT_SECRET_KEY=replace-with-strong-secret
JWT_ISSUER=purest-admin
JWT_AUDIENCE=medical-rtc
JWT_TTL_SECONDS=3600

MAX_PARTICIPANTS_PER_ROOM=12
ENABLE_RECORDING=false
RECORDING_STORAGE_PATH=./recordings


